div#loginModal.modal.fade(tabindex="-1",role="dialog")
  div.modal-dialog.modal-sm(role="document")
    div.modal-content
      div.modal-header
        button.close(type="button",aria-label="Close",data-dismiss="modal")
          span(aria-hidden="true") &times;
        h4.modal-title 微信扫描二维码登录
      div.modal-body
        p 
          img.erweima(src="http://img4.imgtn.bdimg.com/it/u=703711215,828084535&fm=214&gp=0.jpg")
        a(src="#")
          | 在手机中打开