div.get-item-cmp
  p.found-tip
    span.fa.fa-info-circle.fa-lg(color="primary")
    |  如果您觉得有可能是您的物品，可点击下方按钮认领。
  button.btn.btn-danger.btn-large.btn-block 立刻认领

  hr

  div.row
    div.col-xs-8
      p.found-info
        | 您在此处填写的信息仅用于平台匹配丢失物品，不会直接透露给本平台以外的个人。
    div.col-xs-4.icon-holder
      span.fa.fa-warning.fa-3x(color="accent")