@import './palette';
@import './home/index';
@import './search/index';
@import './item/index';

@import './vendors';
@import './global';
@import './shared/index';

html, body {
  margin: 0px;
  font-family: "Hiragino Sans GB", 华文细黑, STHeiti, 微软雅黑, "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: rgb(72, 72, 72);
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}