div.title
  h1
    | 选择您丢失的物品种类

div.nav-holder
  div.btn-group(role="group")
    button.btn.btn-default
      | 证件
    button.btn.btn-default
      | 物品

div.container-fluid
  div.type-holder.row
    div.type-item.col-xs-4
      div.img-holder
        a
          img(src="http://img2.imgtn.bdimg.com/it/u=3785186109,1332293261&fm=214&gp=0.jpg")
      label
        | 身份证

    div.type-item.col-xs-4
      div.img-holder
        a
          img(src="http://b.hiphotos.baidu.com/zhidao/pic/item/caef76094b36acafbf84434579d98d1001e99c27.jpg")
      label
        | 户口本
    
    div.type-item.col-xs-4
      div.img-holder
        a
          img(src="http://img1.imgtn.bdimg.com/it/u=4150383401,2216112836&fm=214&gp=0.jpg")
      label
        | 护照
    
    div.type-item.col-xs-4
      div.img-holder
        a
          img(src="http://img2.imgtn.bdimg.com/it/u=3785186109,1332293261&fm=214&gp=0.jpg")
      label
        | 身份证

    div.type-item.col-xs-4
      div.img-holder
        a
          img(src="http://img2.imgtn.bdimg.com/it/u=3785186109,1332293261&fm=214&gp=0.jpg")
      label
        | 身份证
    
    div.type-item.col-xs-4
      div.img-holder
        a
          img(src="http://img2.imgtn.bdimg.com/it/u=3785186109,1332293261&fm=214&gp=0.jpg")
      label
        | 身份证
    